header{
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__logo{
        color: $yellow;
        font-size: 35px;
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            margin-right: 30px;
            font-size: 15px;
            font-weight: 800;
            text-transform: uppercase;
        }
        i {
            font-size: 20px;
        }
    }
    .header__btn{
        background-color: white;
        color: $bg;
        padding: 5px 10px;
        border-radius: 20%;
    }      
}