.search__form{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 500px;
  font-weight: 400;
  input{
    width: 50px;
    all: unset;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #121212;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 5px;
    font-size: 18px;
  }
  input[type="submit"]{
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    padding: 10px;

  }
}
