extends ../base.pug

block content 
        form(method="POST")
            input(type="password", name="oldpassowrd", placeholder="Old-password")
            input(type="password", name="newpassword", placeholder="NewPassword")
            input(type="password", name="confirmpassword", placeholder="ConfirmPassword")
            input(type="submit", value="Change") 