extends ../base.pug
include ../mixins/video.pug

block content
    div.profile__data
        img(src="/" + user.avatarUrl ).avatar
        h3=user.nickname
    div.video__grid
        each video in user.videos
                +video(video)
        else
            span.empty__message Sorry nothing found.