// config
@import "./config/_variables.scss";
@import "./config/_reset.scss";

// layout
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./layout/video.scss";
@import "./layout/search.scss";

//components
@import "./components/shared.scss";
@import "./components/forms.scss";
@import "./components/video-player.scss";

// pages
@import "./pages/home.scss";
@import "./pages/social-login.scss";
@import "./pages/profile.scss";
@import "./pages/edit-profile.scss";
@import "./pages/upload.scss";


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: $bg;
}

main {
    max-width: 1450px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}

a{
    color: white;
}

@keyframes goAway {
    from{
        transform:none;
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translateY(-50px);

    }
}


.message {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 200px;
    border-radius: 10000px;
    padding: 10px 20px;
    text-align: center;
    animation: goAway .5s ease-in-out forwards;
    animation-delay: 2s;
    &.info{
        background-color: #474CEF;
        color: white;
    }
    &.error{
        background-color: #FF0101;
        color: white;
    }
    &.success{
        background-color: #01be9f;
        color: black;
    }
}