.edit-profile__form{
    label{
        font-size: 18px;
        margin-bottom: 20px;
        display: block;
    }
}

.edit-profile__password{
     margin-top: 50px;
     text-align: center;
     a{
        text-decoration: underline;
     }
}