.video-data{
    margin-top: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    .video__title{
        font-size: 25px;
        margin-bottom: 7px;
    }
    .video__createdAt{
        font-size: 15px;
    }
    .video__owner{
        margin-bottom: 5px;
        font-size: 17px;
        a{
            color: cornflowerblue;
            text-decoration: none;
        }
    }
}

.video__comments{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    width:100%;
    .video__comment{
        padding: 10px;
        margin-top: 15px;
        background-color: white;
        color: black;
        border-radius: 10000px;
        display: inline-block;
    }
}