body {
    font-size: 100%;
}


.hidden {
    display: none;
}

.section{
    display: flex-wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#user-hello {
    display: flex;
    font-size: 40pt;
    justify-content: center;
}
.clock {
    padding-top : 100px;
    display: flex;
    font-size : 50pt;
    justify-content: center;
}

img{
    position: absolute;
    left: 0;
    top: 0;
    right:0px;
    bottom:0px;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
    background-size:cover;
    opacity: 65%;
}