header
    a(href="/").header__logo
        i.fa.fa-paw
    nav
        ul
            li
                a(href="/search")
                    i.fa-solid.fa-magnifying-glass
            if loggedIn
                li
                    a(href="/videos/upload") Upload Video
                li
                    a(href="/users/logout") Log out
                li
                    a(href=`/users/${user._id}`) #{user.username} Profile 
                li
                    a(href="/users/edit") Edit Profile 
            else
                li
                    a(href="/login") Log in
                li
                    a(href="/join").header__btn Join
