header
    a(href="/")
        i.fa.fa-paw
    nav
        ul
            if loggedIn
                li
                    a(href="/videos/upload") Upload Video
                li
                    a(href="/users/logout") Log out
                li
                    a(href=`/users/${user._id}`) #{user.username} Profile 
                li
                    a(href="/users/edit") Edit Profile 
            else
                li
                    a(href="/join") Join
                li
                    a(href="/login") Log in
            li
                a(href="/search") Search