extends base.pug
include mixins/video.pug

block content
    form(method="GET")
        input(type="text", placeholder="Search by keyword", name="keyword")
        input(type="submit", value="Search")
    each videos in video
        +video(videos)
    else
        h3 Sorry nothing found.